@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* header */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #000;
}
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transform: 0.6s;
  z-index: 1000;
  padding: 15px;
  width: 100%;
}
header.fixed {
  background-color: #000;
  margin: 0;
}
.image img {
  width: 77px;
  height: 40px;
}
.nav-menu_right > ul > li,
.nav-menu a {
  display: inline-block;
}
.nav-menu_right ul {
  margin-bottom: 0;
  float: right;
}
.nav-menu_right ul li {
  padding: 10px 14px;
}
.nav-menu_right a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 19.5px;
  color: rgba(37, 40, 43, 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.nav-menu_right li a:hover {
  color: #000;
  border-bottom: 3px solid #00daff;
}

.accordion-buttons {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(37, 40, 43, 1);
  padding: 0px 20px;
  margin-top: 10px;
}
.accordion-button {
  padding: 0.4rem 1.25rem;
}
.offcanvas-body {
  padding: 0;
  margin-top: 34px;
}
/*nabMobile*/
.offcanvas-end {
  width: 301px;
}
.accordion-body ul {
  list-style: none;
  padding: 0;
}
.accordion-body ul li {
  border-bottom: 1px solid #f1f1f1;
  width: 283px;
}
.accordion-body ul li a {
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  padding: 0 6.1px;
  line-height: 45px;
}
.navbar-mobile {
  display: none;
}
.accordion-item {
  border: none;
  padding-bottom: 27px;
}
.containers {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .navbar-mobile {
    display: block;
  }
  .nav-menu_right ul {
    display: none;
  }
}
/* end header */

/* bootstrap 4 */

.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.offcanvas-end {
    width: 301px;
}
.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    transform: translateX(100%);
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
@media (min-width: 768px) {
    .d-md-flex {
      display: flex !important;
    }
  }
/* end bootstrap 4 */
